<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
    <script defer src="fontawesome-free/js/solid.js"></script>
    <script defer src="fontawesome-free/js/fontawesome.js"></script>
</head>
<body>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
        <!-- Mobile Navbar -->
        <div class="menumob">
            <div class="iconmenu" id="menu"><a href="#">&#9776;</a></div>
            <div class="logomob">Restaurant Apps</div>
            <div class="logomob">&nbsp;</div>
        </div>
        <nav id="drawer" class="navmob">
            <ul class="navlistmob">
                <li class="navitemsmob"><a href="">Home</a></li>
                <li class="navitemsmob"><a href="#">Favorite</a></li>
                <li class="navitemsmob"><a target="_blank" href="https://github.com/mochyusuf">About</a></li>
            </ul>
        </nav>
        <!-- Desktop Navbar -->
        <nav class="nav">
            <a class="logo" href="">Restaurant Apps</a>
            <ul class="navlist">
                <li class="navitems"><a href="">Home</a></li>
                <li class="navitems"><a href="#">Favorite</a></li>
                <li class="navitems"><a target="_blank" href="https://github.com/mochyusuf">About</a></li>
            </ul>
        </nav>
    </header>
    <!-- Jumbotron -->
    <div class="hero" style="background-image: url('images/heros/hero-image_1.jpg');">
        <div class="heroinner">
            <h1 class="herotitle">Restaurant Apps</h1>
            <p class="herosubtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
    </div>
    <!-- Content -->
    <main id="maincontent">
        <section class="content">
            <div class="latest">
                <h1>Restaurant</h1>
                <div class="list" id="list"></div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <p>Copyright © 2021 - Restaurant Apps</p>
    </footer>
</body>
</html>