* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%
}

.hero {
	background-image: url('/images/hero-image_1-small.jpg');
	background-position: center;
	background-size: cover;
}
body {
	font-size: 12px;
	color: #000000
}
.skip-link {
	position: absolute;
	top: -60px;
	left: 0;
	background-color: #0f0050;
	color: white;
	padding: 8px;
	z-index: 100;
}
.skip-link:focus {
	top: 0;
}
.thumb{
	width: 100%;
	-o-object-fit: fill;
		object-fit: fill;
	max-height: 450px;
	margin-bottom: 10px;
}
.btn_detail {
	display: inline-block;
	min-width: 44px;
	min-height: 44px;
	background-color: rgb(4, 48, 129);
	line-height: 44px;
	text-decoration: none;
	padding: 0 2em;
	color: #FFF;
	border-radius: 20px;
	margin-top: 10px;
}
article h4 {
	margin-top: 10px;
}
article h5 {
	margin-top: 10px;
}
article h6 {
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 5px;
}
article p {
	font-size: 13px;
	margin-bottom: 10px;
}
#likeButtonContainer{
	z-index: 99;
}
.like {
	z-index: 99;
	font-size: 18px;
	position: fixed;
	bottom: 16px;
	right: 16px;
	background-color: #db0000;
	color: white;
	border: 0;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
}
.btn_detail:hover {
	background-color: rgb(137, 137, 245);
	color: white;
}
.menumob {
	background-color: #190088;
	color: white !important;
	width: 100%;
	display: flex;
	font-weight: 600;
	font-size: 20px;
	padding: 10px;
	justify-content: space-between;
}
.navmob {
	background-color: #190088;
	width: 100%;
	display: flex;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase
}
.navlistmob {
	width: 60%;
	padding: 0;
	margin: 0;
	text-align: left
}
.navitemsmob {
	box-sizing: border-box;
	display: inline-block;
	text-align: right;
	line-height: 24px;
	text-transform: uppercase;
	color: white !important
}
.iconmenu button {
	font-size: 50px;
	text-decoration: none;
	color: black !important;
	margin-right: 25px;
	line-height: 44px;
}
.navmob a {
	font-size: 40px;
	display: inline-block;
	padding: 1.3em;
	text-decoration: none
}
.nav {
	background-color: #190088;
	width: 100%;
	display: flex;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase
}
.navlist {
	width: 80%;
	padding: 0;
	margin: 0;
	text-align: right
}
.logo {
	width: 50%;
	padding: 0;
	margin: 0;
	text-align: left;
	box-sizing: border-box;
	display: inline-block;
	line-height: 24px
}
.logomob{
	margin: auto;
  width: 50%;
}
.navitems {
	box-sizing: border-box;
	display: inline-block;
	text-align: right;
	line-height: 24px;
}
.nav a {
	font-size: 20px;
	display: inline-block;
	padding: 1.3em;
	text-decoration: none;
	color: white !important;
}
.nav a:hover {
	text-decoration: none
}
.hero {
	display: flex;
	align-items: center;
	min-height: 380px;
	width: 100%;
	text-align: center;
	background-position: center;
	background-color: #FFFFFF !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.heroinner {
	margin: 0 auto;
	max-width: 800px
}
.herotitle {
	color: #fff;
	font-weight: 600;
	font-size: 36px;
	text-shadow: 1px 1px #141414
}
.herosubtitle {
	color: #fff;
	margin-top: 16px;
	font-size: 18px;
	font-weight: 600;
	text-shadow: 1px 1px #141414
}
main {
	width: 100%;
	margin: 0 auto
}
.content {
	padding: 32px
}
.latest {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center
}
.latest h1 {
	font-weight: 700;
	font-size: 2em;
	margin-bottom: 20px
}
.list {
	margin: 32px;
	text-align: left;
	display: grid;
	grid-row-gap: 16px
}
.list_item {
	box-shadow: 0 4px 8px 0 #000000;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	position: relative
}
.list_item_content {
	padding: 16px
}
.list_item_thumb {
	width: 100%;
	max-height: 200px
}
.list_item_address {
	font-size: 40px;
	color: #000000;
	font-weight: 500;
	margin-bottom: 20px;
}
.list_item_rating {
	font-size: 40px;
	color: #000000;
	font-weight: 500;
}
.list_item_rating_value {
	color: #ff0000;
	text-decoration: none;
}
.list_item_title {
	font-weight: 500;
	font-size: 16px;
	margin-top: 10px;
}
.list_item_title a {
	font-size: 40px;
	text-decoration: none;
	color: inherit
}
.list_item_city {
	font-size: 16px;
	text-align: center;
	line-height: 2em;
	background-color: #190088;
	color : #FFFFFF;
}
.list_item_desc {
	font-size: 12px;
	line-height: 1.5em
}
.list_item_categories{
	font-size: 12px;
	line-height: 1.5em;
	margin-bottom: 20px;
}
.list_item_food{
	font-size: 12px;
	line-height: 1.5em;
	margin-bottom: 20px;
}
.list_item_drink{
	font-size: 12px;
	line-height: 1.5em;
	margin-bottom: 20px;
}
.list_item_review{
	font-size: 12px;
	line-height: 1.5em;
	margin-bottom: 20px;
}
.card-restaurant-item{
	margin:20px;
}
.review-card {
    border: 1px solid #ececec;
    margin: 20px;
    text-align: center;
	color : #FFF;
	background-color: #140361;
}
.review-card span {
    font-size: 50px;
}
.review{
	box-shadow: 0 4px 8px 0 #000;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
	margin:20px;
	padding:20px;
}
.review>.input>input{  
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	font-size: 18px;
}
.review>.input>textarea{  
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	font-size: 18px;
}
.review>.input>label{
	font-size: 20px;
	padding: 12px 12px 12px 0;
	display: inline-block;
}
.review>button{
	background-color: #190088;
	border: none;
	color: white;
	padding: 16px 32px;
	width: 100%;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 18px;
}
.review-name {
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.review-date {
    font-size: 13px;
    margin: 15px 0;
}

.review-comment {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.gallery {
	margin-bottom: 50px;
}
  
.image-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
  
.image-gallery img {
	width: 270px;
	margin: 10px;
}
  
.image-gallery img:hover {
	filter: grayscale(60%);
}
  
footer {
	background-color: #190088;
	color: white;
	font-size: 14px;
	padding: 2em;
	width: 100%;
	text-align: center
}
a{
	min-width: 44px !important;
	min-height: 44px !important;
}
@media screen and (min-width: 680px) {
	.menumob {
		display: none
	}
	.navmob {
		display: none
	}
	.hero {
	  background-image: url('/images/hero-image_1-large.jpg');
	}
}
@media screen and (max-width: 680px) {
	.nav {
		display: none
	}
	.navmob {
		z-index: 10;
		background-color: #fff;
		width: 100%;
		position: absolute;
		-webkit-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
		transition: transform 0.3s ease
	}
	.open {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0)
	}
	.navitemsmob {
		display: list-item;
		color: black !important;
		width: 100%;
		text-align: left
	}
	.list_item_content {
		padding: 16px 32px 32px 32px
	}
	.list_item_title {
		font-size: 18px
	}
	.list_item_desc {
		font-size: 14px
	}
}
@media screen and (min-width: 768px) {
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10px;
		grid-row-gap: 16px
	}
}
@media screen and (min-width: 992px) {
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr
	}
}
@media screen and (min-width: 1200px) {
	main {
		max-width: 1200px
	}
}